@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@source inline("{top,bottom,left,right}-full");

* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  @apply border-gray-800;
}
a:not(.no-link),button.link {
  color: cornflowerblue;
}
a:hover {
  text-decoration: underline;
}
p,ul,ol,blockquote {
  margin-top: 1rem;
}
